<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807230336478-gq8t05rub9ul5rlsedu4h3haq2fbs0u1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807230336478-gq8t05rub9ul5rlsedu4h3haq2fbs0u1</string>
	<key>API_KEY</key>
	<string>AIzaSyCxChIXZSVq03A-bliHLw-dj2uUuhILMNw</string>
	<key>GCM_SENDER_ID</key>
	<string>807230336478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.com.unity.template.mobile2D</string>
	<key>PROJECT_ID</key>
	<string>mmogame-7cb6e</string>
	<key>STORAGE_BUCKET</key>
	<string>mmogame-7cb6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807230336478:ios:570f40a11f283d1ce1c14f</string>
</dict>
</plist>